<div class="row">
    <div class="card" style="width: 100%">
        <div class="row g-0">
            <div class="col-12 col-md-12 col-lg-5">
                <img src="assets/img/img1.jpg" alt="..." class="img-home">
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="card-body">
                    <h3 class="card-title mt-2 mb-4">We are the best choice for your holiday!</h3>
                    <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                    from 45 BC, making it over 2000 years old. <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. <br>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged.</p>
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
                    layout.</p>
                    
                    <!-- <p class="card-text"><small class="text-muted"></small></p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" height="5rem">
            <img src="assets/img/airport.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">We will arrange all your tickets and pick-up</h5>
                <p class="card-text mt-4">Fusce in tincidunt urna, non scelerisque lorem. Etiam placerat neque eget tellus congue malesuada. Aliquam dolor neque,
                fringilla a sem eu, auctor rutrum ex. Mauris aliquet justo eu fringilla commodo. Nulla commodo eros ac odio ornare
                tincidunt.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" height="5rem">
            <img src="assets/img/injury.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">We will provide you with all the necessary insurance</h5>
                <p class="card-text mt-4">Aenean eleifend eleifend leo in fermentum. Morbi feugiat egestas urna, sit amet posuere arcu bibendum in. Nunc in ipsum
                varius, dictum metus sed, efficitur lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel placerat
                nulla, at venenatis orci.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" height="5rem">
            <img src="assets/img/money.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">We will create a repayment calendar for you if the price is too high for you</h5>
                <p class="card-text mt-4">Quisque eu lobortis orci, sed vestibulum magna. Etiam sollicitudin elit neque, id consectetur tortor aliquet ut. Quisque
                sed mi quis nisi facilisis condimentum et in mi. Donec vel ipsum et felis porta malesuada. Aliquam ornare tellus blandit
                pulvinar facilisis. </p>
            </div>
        </div>
    </div>
</div>