
<div class="row footer">
    <div class="col-4">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/img/logo1.png" alt="" width="120" height="60">
        </a>
    </div>
    <div class="col-4 text-center">
        <ul>
            <li>E-mail: {{email}}</li>
            <li>Tel: {{tel}}</li>
            <li>E-mail: {{adress}}</li>
        </ul>
    </div>
    <div class="col-4 ">
        <a href="https://github.com/VenyBuchty" class="navbar-brand d-flex justify-content-end">
            <img src="assets/img/github.png" alt="" width="50" height="50">
        </a>
    </div>
</div>
